<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" routerLink="/home" aria-label="Example icon-button with menu icon">
      <img src="{{logoUrl}}" alt="Logo" class="logo">
    </button>
    <button mat-icon-button class="navbar-menu" [matMenuTriggerFor]="owners" aria-label="Menu for owners pages">
      Owners
    </button>
    <mat-menu #owners="matMenu">
      <button mat-menu-item routerLink="/owners/check">
        <mat-icon>how_to_reg</mat-icon>
        <span>Check Owner</span>
      </button>
      <button mat-menu-item routerLink="/owners/add">
        <mat-icon>person_add</mat-icon>
        <span>Add Owner</span>
      </button>
    </mat-menu>
    <button mat-icon-button class="navbar-menu" [matMenuTriggerFor]="vehicles" aria-label="Menu for vehicle pages">
      Vehicles
    </button>
    <mat-menu #vehicles="matMenu">
      <button mat-menu-item routerLink="/vehicles/check-vehicle">
        <mat-icon>no_crash</mat-icon>
        <span>Check Vehicle</span>
      </button>
      <button mat-menu-item routerLink="/vehicles/add-vehicle">
        <mat-icon>directions_car</mat-icon>
        <span>Add Vehicle</span>
      </button>
    </mat-menu>
    <button mat-icon-button class="navbar-menu" [matMenuTriggerFor]="insurances" aria-label="Menu for insurance pages">
      Insurances
    </button>
    <mat-menu #insurances="matMenu">
      <button mat-menu-item routerLink="/insurances/all">
        <mat-icon>collections_bookmark</mat-icon>
        <span>All Insurances</span>
      </button>
      <button mat-menu-item routerLink="/insurances/check-insurance">
        <mat-icon>task</mat-icon>
        <span>Check Insurance</span>
      </button>
      <button mat-menu-item routerLink="/insurances/add-insurance">
        <mat-icon>history_edu</mat-icon>
        <span>Add Insurance</span>
      </button>
    </mat-menu>
  <button mat-icon-button class="navbar-menu" [matMenuTriggerFor]="accidents" aria-label="Menu for accidents pages">
    Accidents
  </button>
  <mat-menu #accidents="matMenu">
    <button mat-menu-item routerLink="/accidents/all">
      <mat-icon>minor_crash</mat-icon>
      <span>All Accidents</span>
    </button>
    <button mat-menu-item routerLink="/accidents/check-accident">
      <mat-icon>no_crash</mat-icon>
      <span>Check Accident</span>
    </button>
    <button mat-menu-item routerLink="/accidents/add-accident">
      <mat-icon>car_crash</mat-icon>
      <span>Add Accident</span>
    </button>
  </mat-menu>
</mat-toolbar>
</p>