<div class="container p-0">
    <div class="card px-4" *ngIf="!loading; esle elseBlock">
        <p class="h8 py-3">Payment Details</p>
        <div *ngIf="errorMessage" class="alert alert-danger">
            <h5 class="text-center">{{ errorMessage }}</h5>
          </div>
        <form [formGroup]="paymentForm">
        <div class="row gx-3">
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Cardholder Name</p>
                    <input class="form-control mb-3" type="text" formControlName="creditCardHolderName" placeholder="Name">
                    <p *ngIf="creditCardHolderName?.touched && creditCardHolderName?.errors?.['required']" class=" text-danger">
                        This field is required!
                    </p>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Card Number</p>
                    <input class="form-control mb-3" type="text" formControlName="creditCardNumber" placeholder="1234 5678 4356 9876">
                    <p *ngIf="creditCardNumber?.touched && creditCardNumber?.errors?.['required']" class=" text-danger">
                        This field is required!
                    </p>
                    <p *ngIf="creditCardNumber?.touched && (creditCardNumber?.errors?.['minLength'] || creditCardNumber?.errors?.['maxlength'])" class=" text-danger">
                        Credit card number must be exatctly 16 symbols!
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Expiry</p>
                    <input class="form-control mb-3" type="text" formControlName="creditCardExpire" placeholder="MM/YY">
                    <p *ngIf="creditCardExpire?.touched && creditCardExpire?.errors?.['required']" class=" text-danger">
                        This field is required!
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">CVV/CVC</p>
                    <input class="form-control mb-3 pt-2 " formControlName="creditCardCVC" type="password" placeholder="***">
                    <p *ngIf="creditCardCVC?.touched && creditCardCVC?.errors?.['required']" class=" text-danger">
                        This field is required!
                    </p>
                    <p *ngIf="creditCardCVC?.touched && (creditCardCVC?.errors?.['minLength'] || creditCardCVC?.errors?.['maxlength'])" class=" text-danger">
                        Credit CVC must be exatctly 3 symbols!
                    </p>
                </div>
            </div>
            <div class="col-12">
                <div class="btn btn-primary mb-3" (click)="onSubmit()">
                    <span class="ps-3">Pay {{payment.amount}} leva</span>
                    <span class="fas fa-arrow-right"></span>
                </div>
            </div>
        </div>
    </form>
    <mat-spinner *ngIf="httpLoading" color="accent"></mat-spinner>
    </div>

    <ng-template #elseBlock>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>