<div class="container-fluid">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="card col-lg-10" *ngIf="!loading; else elseBlock">
    <div class="card-header">
        <h5 class="card-title text-center mb-4">All Insurances</h5>
        <div class="text-center mb-4">
        <img [src]="allInsurancesImageUrl" class="img-fluid mb-2" />
        </div>
        </div>
        <div class="card-body">
           <table class="table">
            <thead>
                <tr>
                    <th class="text-center" scope="col"><button class="btn sort" (click)="sortByStartDate()">Start Date 
                        <mat-icon *ngIf="!sortStartDateAscending">arrow_upward</mat-icon> 
                        <mat-icon *ngIf="sortStartDateAscending">arrow_downward</mat-icon></button></th>
                    <th class="text-center" scope="col"><button class="btn sort" (click)="sortByEndDate()">End Date 
                        <mat-icon *ngIf="!sortEndDateAscending">arrow_upward</mat-icon> 
                        <mat-icon *ngIf="sortEndDateAscending">arrow_downward</mat-icon></button></th>
                    <th class="text-center" scope="col">Total Amount</th>
                    <th class="text-center" scope="col">Due Amount</th>
                    <th class="text-center" scope="col">Vehicle Registration Number</th>
                    <th class="text-center" scope="col">Owner's Full Name</th>
                    <th class="text-center" scope="col">Actions</th>
                </tr>
            </thead>
                <tbody>
                   <tr *ngFor="let insurance of insurances">
                        <td class="text-center">{{insurance.startDate}}</td>
                        <td class="text-center">{{insurance.endDate}}</td>
                        <td class="text-center">{{insurance.totalAmount}}</td>
                        <td class="text-center">{{insurance.dueAmount}}</td>
                        <td class="text-center">{{insurance.vehicle.registrationNumber}}</td>
                        <td class="text-center">{{insurance.vehicleOwner.firstName}} {{insurance.vehicleOwner.surname}}</td>
                        <td class="text-center">
                            <a mat-raised-button color="primary" routerLink="/insurances/{{insurance._id}}" class="insurance-details">Details</a>
                            <a mat-raised-button color="accent" routerLink="/insurances/{{insurance._id}}/payments/" class="all-payments">All Payments</a>
                            <a mat-raised-button color="warn" routerLink="/insurances/{{insurance._id}}/payments/to-pay" class="all-payments">Pay</a>
                        </td>
                   </tr>
                </tbody>
           </table>
        </div>
    

<div class="col-lg-1"></div>
</div>
<ng-template #elseBlock>
    <mat-spinner></mat-spinner>
</ng-template>
</div>
</div>


