<div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="card col-lg-8" *ngIf="!loading; else elseBlock">
    <div class="card-header">
        <h5 class="card-title text-center mb-2">Details for Owner</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">{{owner.firstName}} {{owner.surname}}</h6>
        </div>
        <div class="card-body">
           <table class="table table-hover">
                <tbody>
                    <tr>
                        <th class="text-center">First Name</th>
                        <td class="text-center">{{owner.firstName}}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Middle Name</th>
                        <td *ngIf="owner.middleName; else elseBlock" class="text-center">{{owner.middleName}}</td>
                        <ng-template #elseBlock>
                            <td class="text-center fst-italic text-danger">Missing</td>
                        </ng-template>
                    </tr>
                    <tr>
                        <th class="text-center">Surname</th>
                        <td class="text-center">{{owner.surname}}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Date of Birth</th>
                        <td class="text-center">{{ownerDateOfBirth}}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Gender</th>
                        <td class="text-center">{{owner.gender}}</td>
                    </tr>
                    <tr>
                        <th class="text-center">EGN</th>
                        <td class="text-center">{{owner.EGN}}</td>
                    </tr>
                </tbody>
           </table>

           <h2 class="text-center mt-5 mb-5">Own Vehicles</h2>
           <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Brand</th>
                        <th class="text-center">Model</th>
                        <th class="text-center">Year Of Manufacture</th>
                        <th class="text-center">Registration Number</th>
                    </tr>
                </thead>
                <tbody *ngIf="hasVehicles; else noVehicles">
                    <tr *ngFor="let vehicle of owner.vehicles">
                        <td class="text-center">{{vehicle.brand}}</td>
                        <td class="text-center">{{vehicle.model}}</td>
                        <td class="text-center">{{vehicle.yearOfManufacture}}</td>
                        <td class="text-center">{{vehicle.registrationNumber}}</td>
                    </tr>
                </tbody>
                <ng-template #noVehicles>
                   <tbody>
                       <tr class="text-center">
                           <td colspan="4" class="fw-bold text-danger">
                               No Vehicle
                           </td>
                        </tr>
                   </tbody>
                                        
                </ng-template>
           </table>
           
        </div>
        <div class="card-footer">
            <p class="text-center">You can register a vehicle from here: <a mat-raised-button color="primary" routerLink="/vehicles/add" class="add-vehicle" >Add Vehicle</a></p>
        </div>
    

        <div class="col-lg-2"></div>
    </div>
    <ng-template #elseBlock>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>
</div>


