.container-fluid{
    background-color: ghostwhite;
    margin-top: -0.7%;
}
.card {
margin-top: 4.1%;
margin-bottom: 4.5%;
padding: 1%;
}

.add-vehicle {
    margin-left: 1rem;
}

p {
    margin-bottom: 0;
}

mat-spinner {
    margin-left: 40%;
}