<form [formGroup]="allPaymentsForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Registration Number</mat-label>
        <input type="text" matInput formControlName="registrationNumber" placeholder="PB1234CA">
        <mat-hint>Registration number is required. Only valid registration numbers</mat-hint>
        <mat-error *ngIf="registrationNumber?.touched && registrationNumber?.errors?.['required']" class="mt-2">
            This field is required!
          </mat-error>
        <mat-error *ngIf="registrationNumber?.touched && (registrationNumber?.errors?.['minlength'] || registrationNumber?.errors?.['maxlength'])" class="mt-2">
            Registration number must be between 6 and 8 symbols!
        </mat-error>
    </mat-form-field>
</div>

<div class="col-auto mt-3 mb-3">
    <button type="submit" mat-raised-button color="primary" class="mb-3">Check</button>
</div>
</form>