<div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="card col-lg-8">
    <div class="card-header">
        <h5 class="card-title text-center mb-2">Details for Vehicle</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">{{vehicle.brand}} {{vehicle.model}}</h6>
        </div>
        <div class="card-body">
           <table class="table table-hover">
                <tbody>
                    <tr>
                        <th class="text-center">Brand</th>
                        <td class="text-center">{{vehicle.brand}}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Model</th>
                        <td class="text-center">{{vehicle.model}}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Year Of Manufacture</th>
                        <td class="text-center">{{vehicle.yearOfManufacture}}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Registration Number</th>
                        <td class="text-center">{{vehicle.registrationNumber}}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Owner's First Name</th>
                        <td class="text-center">{{vehicle.owner.firstName}}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Owner's Surname</th>
                        <td class="text-center">{{vehicle.owner.surname}}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Has Insurance</th>
                        <td class="text-center text-success" *ngIf="hasInsurance; else elseBlock">Yes</td>
                        <ng-template #elseBlock>
                            <td class="text-center text-danger">No</td>
                        </ng-template>
                    </tr>
                </tbody>
           </table>

        <div class="card-footer">
            <p class="text-center">Details about owner here: <a mat-raised-button color="primary" routerLink="/owners/{{vehicle.owner._id}}" class="owner-details" >Owner Details</a></p>
            <p *ngIf="hasInsurance; else noInsurance" class="text-center">Details about insurance here: <a mat-raised-button color="accent" routerLink="/insurances/{{vehicle.insurance._id}}" class="insurance-details" >Insurance Details</a></p>
            <ng-template #noInsurance>
                <p class="text-center">Here you can make insurance: <a mat-raised-button color="primary" routerLink="/insurances/add-insurance" class="add-insurance" >Make Insurance</a></p>
            </ng-template>
        </div>
    

</div>
<div class="col-lg-2"></div>
</div>
</div>


