.container-fluid{
    background-color: ghostwhite;
    margin-top: -0.7%;
}
.card {
margin-top: 4.1%;
margin-bottom: 4.5%;
padding: 1%;
}

.owner-details {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.insurance-details, .add-insurance {
    margin-left: 1rem;
}

p {
    margin-bottom: 0;
}